<div class="section section-no-gap privacy">
  <div class="header">
    <img src="./../../../../assets/bg/desktop-policy-bg.svg" class="hidden sm:block" />
    <img src="./../../../../assets/bg/mobile-contact-landing.svg" class="sm:hidden" />

    <div class="">
      <span class=""> EMPLOYEE FORMS </span>
    </div>
  </div>
  <!-- EMPLOYEE FORMS START -->
  <div class="section-container padded">
    <div class="employee-forms-container">
      <app-cash-advance></app-cash-advance>
      <app-cash-loan></app-cash-loan>
      <app-leave-request></app-leave-request>
      <app-loan-payment-extension></app-loan-payment-extension>
      <app-overtime></app-overtime>
      <app-undertime></app-undertime>
    </div>
  </div>
  <!-- EMPLOYEE FORMS END -->
</div>