<div class="app-design">
  <div class="section ">
    <div class="section-container">
      New regular section <br><br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum aliquam volutpat. Proin suscipit felis diam, sit amet congue dui posuere at. Donec ac augue egestas sapien pulvinar lobortis. Nam eget justo eu turpis dignissim vestibulum. Cras at lectus felis. Phasellus quis velit cursus, mollis justo ut, lacinia eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In ultricies gravida nibh eget lacinia. Phasellus nec risus id purus luctus placerat non a nulla. Sed ac diam interdum, lobortis ipsum eget, lacinia justo. Cras et nulla eu nunc congue laoreet a eget mauris. Pellentesque sit amet rutrum neque. 
    </div>
  </div>
</div>

<div class="app-design">
  <div class="section section-no-gap">
    <div class="section-container">
        No gap section from the top section <br><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum aliquam volutpat. Proin suscipit felis diam, sit amet congue dui posuere at. Donec ac augue egestas sapien pulvinar lobortis. Nam eget justo eu turpis dignissim vestibulum. Cras at lectus felis. Phasellus quis velit cursus, mollis justo ut, lacinia eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In ultricies gravida nibh eget lacinia. Phasellus nec risus id purus luctus placerat non a nulla. Sed ac diam interdum, lobortis ipsum eget, lacinia justo. Cras et nulla eu nunc congue laoreet a eget mauris. Pellentesque sit amet rutrum neque. 
    </div>
  </div>
</div>

<div class="app-design">
  <div class="section">
    <div class="section-container ">
        Section with gap<br>Not full Height <br><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum aliquam volutpat. Proin suscipit felis diam, sit amet congue dui posuere at. Donec ac augue egestas sapien pulvinar lobortis. Nam eget justo eu turpis dignissim vestibulum. Cras at lectus felis. Phasellus quis velit cursus, mollis justo ut, lacinia eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In ultricies gravida nibh eget lacinia. Phasellus nec risus id purus luctus placerat non a nulla. Sed ac diam interdum, lobortis ipsum eget, lacinia justo. Cras et nulla eu nunc congue laoreet a eget mauris. Pellentesque sit amet rutrum neque. 
    </div>
  </div>
</div>

<div class="app-design">
  <div class="section section-full-page">
    <div class="section-container ">
        Section with gap<br>Full height section <br><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum aliquam volutpat. Proin suscipit felis diam, sit amet congue dui posuere at. Donec ac augue egestas sapien pulvinar lobortis. Nam eget justo eu turpis dignissim vestibulum. Cras at lectus felis. Phasellus quis velit cursus, mollis justo ut, lacinia eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In ultricies gravida nibh eget lacinia. Phasellus nec risus id purus luctus placerat non a nulla. Sed ac diam interdum, lobortis ipsum eget, lacinia justo. Cras et nulla eu nunc congue laoreet a eget mauris. Pellentesque sit amet rutrum neque. 
    </div>
  </div>
</div>

<div class="app-design">
  <div class="section section-full-page section-no-gap">
    <div class="section-container">
        Full height section with no gap from top section <br><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum aliquam volutpat. Proin suscipit felis diam, sit amet congue dui posuere at. Donec ac augue egestas sapien pulvinar lobortis. Nam eget justo eu turpis dignissim vestibulum. Cras at lectus felis. Phasellus quis velit cursus, mollis justo ut, lacinia eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In ultricies gravida nibh eget lacinia. Phasellus nec risus id purus luctus placerat non a nulla. Sed ac diam interdum, lobortis ipsum eget, lacinia justo. Cras et nulla eu nunc congue laoreet a eget mauris. Pellentesque sit amet rutrum neque. 
    </div>
  </div>
</div>

<div class="app-design">
  <div class="section">
    <div class="section-container section-wide">
        Section covering full width with top gap<br><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum aliquam volutpat. Proin suscipit felis diam, sit amet congue dui posuere at. Donec ac augue egestas sapien pulvinar lobortis. Nam eget justo eu turpis dignissim vestibulum. Cras at lectus felis. Phasellus quis velit cursus, mollis justo ut, lacinia eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In ultricies gravida nibh eget lacinia. Phasellus nec risus id purus luctus placerat non a nulla. Sed ac diam interdum, lobortis ipsum eget, lacinia justo. Cras et nulla eu nunc congue laoreet a eget mauris. Pellentesque sit amet rutrum neque. 
    </div>
  </div>
</div>

<div class="app-design">
  <div class="section section-no-gap" >
    <div class="section-container section-wide">
        Section covering full width with no top gap<br><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum aliquam volutpat. Proin suscipit felis diam, sit amet congue dui posuere at. Donec ac augue egestas sapien pulvinar lobortis. Nam eget justo eu turpis dignissim vestibulum. Cras at lectus felis. Phasellus quis velit cursus, mollis justo ut, lacinia eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In ultricies gravida nibh eget lacinia. Phasellus nec risus id purus luctus placerat non a nulla. Sed ac diam interdum, lobortis ipsum eget, lacinia justo. Cras et nulla eu nunc congue laoreet a eget mauris. Pellentesque sit amet rutrum neque. 
    </div>
  </div>
</div>


<div class="app-design">
  <div class="section section-no-gap section-full-page" >
    <div class="section-container section-wide">
        Section covering full width with no top gap and full height<br><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum aliquam volutpat. Proin suscipit felis diam, sit amet congue dui posuere at. Donec ac augue egestas sapien pulvinar lobortis. Nam eget justo eu turpis dignissim vestibulum. Cras at lectus felis. Phasellus quis velit cursus, mollis justo ut, lacinia eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In ultricies gravida nibh eget lacinia. Phasellus nec risus id purus luctus placerat non a nulla. Sed ac diam interdum, lobortis ipsum eget, lacinia justo. Cras et nulla eu nunc congue laoreet a eget mauris. Pellentesque sit amet rutrum neque. 
    </div>
  </div>
</div>

<div class="spacer-5">I am a 50px spacer</div>
<div class="spacer">I am a 100px spacer (default)</div>
<div class="spacer-10">I am a 100px spacer</div>
<div class="spacer-20">I am a 200px spacer</div>
<div class="spacer sm-only">This spacer shows only for mobile</div>
<div class="spacer md-only">This spacer shows only for tablet</div>
<div class="spacer lg-only">This spacer shows only for desktop</div>
<div class="min-md">I only show on tablet and desktop</div>

<div class="app-design">
  <div class="section" >
    <div class="section-container">
      <h1>Buttons</h1>
      <button class="btn btn-primary">Primary</button>
    </div>
  </div>
</div>

<div class="app-design">
  <div class="section" >
    <div class="section-container">
      Add more common designs here used in remotodojo website for developer references.
    </div>
  </div>
</div>
