<div class="contact-and-map-wrapper">
  <div class="contact-and-map-container">
    <div class="contact-and-map-form">
      <form>
        <div class="flex lg:flex-nowrap flex-wrap gap-x-6">
          <mat-form-field appearance="outline" class="contact-field">
            <mat-label class="text-white font-bold">Name</mat-label>
            <input class="home-form-input" matInput formControlName="name">
          </mat-form-field>

          <mat-form-field appearance="outline" class="contact-field">
            <mat-label class="text-white font-bold">Email Address</mat-label>
            <input matInput formControlName="email">
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline" class="contact-field">
          <mat-label class="text-white font-bold">Message</mat-label>
          <textarea matInput formControlName="message"></textarea>
        </mat-form-field>

        <app-button [isSubmit]="true" [isDisabled]="form.invalid" [isLoading]="loading" [isResponsive]="true">
        </app-button>
      </form>
    </div>
    <div class="contact-and-map-gmap">
      <div class="map-outer">
        <div class="gmap-canvas"><iframe class="gmap-iframe" width="100%" frameborder="0" scrolling="no"
            marginheight="0" marginwidth="0"
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15699.745892721849!2d123.9269557!3d10.3469648!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5d98bffff7203bd4!2sRemotoDojo%20Inc.!5e0!3m2!1sen!2sph!4v1666945460155!5m2!1sen!2sph"></iframe>
        </div>
      </div>
    </div>
  </div>