<form name="cash-advance" (submit)="cashAdvance($event)" [formGroup]="cashAdvanceForm" (ngSubmit)="submitForm()">
  <h1>Cash Advance</h1>
  <div class="first-section">
    <div>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" type="name" name="name">
        <mat-error>Name is required.</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Date</mat-label>
        <input matInput formControlName="date" type="date" name="date">
        <mat-error>Date is required.</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Amount</mat-label>
        <input matInput formControlName="amount" type="number" name="amount">
        <mat-error>Amount is required.</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Department</mat-label>
        <input matInput formControlName="department" type="text" name="department">
        <mat-error>Department is required.</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Reason</mat-label>
      <textarea formControlName="reason" name="reason" matInput></textarea>
    </mat-form-field>
  </div>
  <div class="first-section">
    <div>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Date Of Cash Advance Needed</mat-label>
        <input matInput formControlName="dateOfCashAdvanceNeeded" type="date" name="dateOfCashAdvanceNeeded">
        <mat-error>Date Of Cash Advance Needed is required.</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Amount Of Payroll Deduction</mat-label>
        <input matInput formControlName="amountOfPayrollDeduction" type="number" name="amountOfPayrollDeduction">
        <mat-error>Amount Of Payroll Deduction is required.</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Do You Have An Existing Loan/Balance</mat-label>
        <input matInput formControlName="doYouHaveAnExistingBalance" type="text" name="doYouHaveAnExistingBalance">
        <mat-error>Do You Have An Existing Loan/Balance is required.</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Loan Balance</mat-label>
        <input matInput formControlName="loanBalance" type="text" name="loanBalance">
        <mat-error>Loan Balance is required.</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="flex justify-between mt-5">
    <div class="w-2/5">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Borrower's Signature</mat-label>
        <input matInput formControlName="borrowersSignature" type="text" name="borrowersSignature">
        <mat-error>Borrower's Signature is required.</mat-error>
      </mat-form-field>
    </div>
    <div>
      <p class="text-right">
        <span>ENDORSED BY:</span> <br />
        <span class="font-bold underline">FLORAMIE FELDSTEIN</span> <br />
        General Manager
      </p>
    </div>
  </div>
  <div>
    <p>APPROVED BY:</p>
  </div>
  <div class="flex justify-between mt-5">
    <div>
      <p>
        <span class="font-bold underline">LEON FEDRO</span> <br />
        CEO/President
      </p>
    </div>
    <div>
      <p class="text-right">
        <span class="font-bold underline">LINDSAY CLARK</span> <br />
        CFO/Vice-President
      </p>
    </div>
  </div>
  <div class="flex justify-between mt-5">
    <div class="w-2/5">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Released By</mat-label>
        <input matInput formControlName="releasedBy" type="text" name="releasedBy">
        <mat-error>Name is required.</mat-error>
      </mat-form-field>
    </div>
    <div>
      <p class="text-right">
        <span>RECEIVED BY:</span> <br />
        <span class="font-bold underline">ANNA MARIE ILAIDA</span> <br />
        Accounting Manager
      </p>
    </div>
  </div>
  <app-button [isSubmit]="true" [isResponsive]="true" class="w-full" [isDisabled]="cashAdvanceForm.invalid"
    [isLoading]="loading">
  </app-button>
</form>

<app-alert-popup *ngIf="showSuccessAlert" [data]="successAlert" (close)="closeAlertPopup()"></app-alert-popup>